= render "search"
-# .page-header
-#   %h2
-#     = link_to "Users", users_path
-#     .pull-right
-#       = link_to "Add User", new_user_path(@exam_center), :class => "btn btn-primary"
%br
%br
= render :partial => "users", :locals => {:users => @users}
