.page-header
  %h3 Course Mangement

%ul.static-pages-content
  %li Create a course
  %li Edit course
  %li Delete course
  %li Admin can view course and its respected exams hierarchy

= link_to "Back", new_user_session_path, :class => "btn btn-primary"
