.page-header
  %h3 Faculty/Admin Management

%ul.static-pages-content
  %li Admin can add/edit/delete a faculty
  %li Admin can add/edit/delete another admin

= link_to "Back", new_user_session_path, :class => "btn btn-primary"
