.page-header
  %h3 Online Exam

%ul.static-pages-content
  %li Student can see scheduled exams
  %li Student enters into the exam process 10mins before the schedued time
  %li Student will be notified with exam count down
  %li Exam will be submitted automatically when count down reaches Zero
  %li Exam will be validated instantly and result stored
  %li Student can view his exam schedules and results at any time.

= link_to "Back", new_user_session_path, :class => "btn btn-primary"
