.page-header
  %h3 Reporting

%ul.static-pages-content
  %li Faculty can analyse the results of an exam
  %li He can drill down the report from grade-wise to individual student
  %li Get print of a report

= link_to "Back", new_user_session_path, :class => "btn btn-primary"
