.page-header
  %h3 Student Management

%ul.static-pages-content
  %li Admin can upload bulk of students belongs to a course
  %li Admin can add/edit/delete a student
  %li Student roll number wil be the USER ID of a student

= link_to "Back", new_user_session_path, :class => "btn btn-primary"
