%table.table.table-bordered
  %thead
    %th Semester
    %th Total Marks
    %th Secured Marks
    %th Exam Date
    -#%th Result
  %tbody
    %tr
      %td= result.nil? ? "--" : result.semester
      %td= result.nil? ? "--" : result.total_marks
      %td= result.nil? ? "--" : result.marks_secured
      %td= result.nil? ? "--" : result.exam_date
      -#%td= result.nil? ? "--" : result.exam_result
