%table.table.table-hover
  %thead
    %th Exam
    %th Course
    %th Semester
    %th Exam Date and Time
    %th Exam End Time
    %th Registration Date
    - if current_user.faculty?
      %th access_password
    - if pending
      %th Countdown
  %tbody
    = render :partial => "schedule", :collection => data, :as => :schedule, :locals => {:pending => pending}
