%table.table.table-striped.table-bordered
  %thead
    %th Exam
    %th Course
    %th Semester
    %th Exam Date and Time
    - if current_user.faculty?
      %th Exam End Time
      %th Registration Date
      %th Access_password
    - if pending
      %th Countdown
    - if current_user.student? and !pending
      %th Total Marks
      %th Marks Secured
      %th Result
  %tbody
    = render :partial => "schedule", :collection => data, :as => :schedule, :locals => {:pending => pending}
