.page-header
  %h2 Review
.col-sm-8.off
  %table
    %tbody
      - @questions.each_with_index do |question, index|
        - if index%10 == 0
          %tr
        %td
          - if question.answer_caught.present?
            %span.label.label-success
              = link_to question.active_question_no, exam_schedule_path(:id => @schedule, :active_question_no =>question.active_question_no)
          - else
            %span.label.label-danger
              = link_to question.active_question_no, exam_schedule_path(:id => @schedule, :active_question_no =>question.active_question_no)
.row
  .col-sm-3.pull-right
    = link_to "Submit", submit_exam_schedule_path(@schedule), :class => "btn btn-primary"
