.page-header
  %h2 Review
.col-sm-8.off
  %table
    %tbody
      - @schedule_details.each_with_index do |question, index|
        - if index%10 == 0
          %tr
            %td
              - if question.answer_caught.present?
                %span.label.label-success
                  = link_to question.question_no, next_question_schedule_path(:id => @schedule, :question_no =>question.question_no, :action_for => "current")
              - else
                %span.label.label-danger
                  = link_to question.question_no, next_question_schedule_path(:id => @schedule, :question_no =>question.question_no, :action_for => "current")
.row
  .col-sm-3.pull-right
    = link_to "Submit", submit_exam_schedule_path(@schedule), :class => "btn btn-primary", :id => "submit_exam_link"
.col-sm-2.pull-right
  %h4
    %span.label.label-danger{"data-end-countdown".to_sym => "#{@schedule.count_down_exam_end_time}", :id => "time-out-timer"}
