= render "multiple_choice_questions/questions_header"


%table.table.table-striped
  %thead
    -#%th Id
    %th Description
    %th Answer
  %tbody
    - @questions.each do |question|
      %tr
        -#%td= question.id
        %td= link_to question.description, exam_descriptive_question_path(question.exam, question)
        %td= question.answer

= will_paginate @questions, param_name: "page", previous_label: h("<"), next_label: h(">")
