.row{:ng_controller => "ExamSearchController as examCtrl", :ng_init => "getExams()"}
  %form{:method => 'get' , :class => "form-inline", :id => "exam_results", :ng_submit => "$parent.getResults()"}
    .col-md-12
      .col-md-5
        %select{:class => 'form-control', :ng_model => "$parent.examId", :ng_options => "exam.id as exam.exam_full_name for exam in exams"} 
        -#, :ng_change => "getSchedules()"
        -#= label_tag :schedule_date, "Date",:class => 'col-md-4 control-label'
      .col-md-3
        %input.form-control{:type => "text", :name => "schedule_date_from", :ng_model => "$parent.scheduleDateFrom", :placeholder => "From Date", :my_datepicker => true}
      .col-md-3
        %input.form-control{:type => "text", :name => "schedule_date_to", :ng_model => "$parent.scheduleDateTo", :placeholder => "To Date", :my_datepicker => true}
      .col-md-1
        = submit_tag "Get", :name => nil, :class => "btn-primary btn"
