.row
  = render "search_exam"
  %br
  %br

= render "search_student"
%br
%br
= render :partial => "shared/results", :locals => {:results => @results}

= will_paginate @results, param_name: "page", previous_label: h("<"), next_label: h(">")
