- if f.object.digi_file?
  = video_player({:file => f.object.digi_file_url})
.form-group
  = f.label "Upload Audio/Video", :class => 'col-sm-4 control-label'
  .col-sm-8
    = f.file_field :digi_file
