$active-color: #222
$link-color : $active-color
$btn-primary-bg: $active-color
$nav-pills-active-link-hover-bg: $active-color
//= require formtastic
//= require formtastic-bootstrap
// = require jquery.ui.all
// = require_self
// = require_tree .

@import 'bootstrap'
@import 'custom'
