%table.table.table-bordered.table-hover
  %thead
    %th Exam Name
    %th Subject
    %th Semester
    %th course
  %tbody
    - exams.each do |exam|
      %tr
        %td= link_to exam.exam_name, exam
        %td= exam.subject
        %td= exam.semester
        %td= exam.course.name
